<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Eav\Model\Attribute\Data\Text">
       <plugin name="customer_form_linkedin_field_validation" type="Tomadevall\Developers\Plugin\LinkedinProfileValidation" sortOrder="1" disabled="false" />
   </type>
    <type name="Magento\Customer\Model\ResourceModel\CustomerRepository">
        <plugin name="customer_repository_before_save" type="Tomadevall\Developers\Plugin\CustomerRepository" sortOrder="10" disabled="false"/>
    </type>
</config>
